.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.autoplay {
  display: flex;
  justify-content: space-between;
  margin: 0 1em;
}

.controls-btn {
  background-color: #22a999;
}

.rate-label {
  margin: auto;
  padding: 2px;
}
